html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000000;
    overflow-x: hidden;
    font-family: 'Press Start 2P', cursive;
}

::-webkit-scrollbar{
    background: black;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(120deg, black, RGB(125, 18, 255));
    border-radius: 10px;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0px);
    transform: translate(0%);
}


.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px 20px 20px;
}

.mainNav{
    position: relative;
    width: 650px;
    height: 50px;
    /* background: #111111; */
    /* background-color: rgba(125, 18, 255, 0.1); */
    /* background: linear-gradient(to right, rgba(125, 18, 255, 0.2), #111111); */
    /* backdrop-filter: blur(10px); */
    /* box-shadow: 0 0 20px rgba(125, 18, 255, 0.4); */
    background-color: rgba(15, 15, 15, 0.8);
    /* border: 1px solid RGB(125, 18, 255); */
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px rgba(125, 18, 255, 0.3);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation span{
    color: RGB(125, 18, 255);
}

.mainNav a{
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}

.mainNav span{
    position: absolute;
    top: 0;
    left: 172px;
    width: 95px;
    height: 50px;
    background: linear-gradient(120deg, black, RGB(125, 18, 255));
    border-radius: 8px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px black;
    transition: 0.5s;
}

.mainNav a:nth-child(1):hover~span{
    left: 53px;
}
.mainNav a:nth-child(2):hover~span{
    left: 172px;
}
.mainNav a:nth-child(3):hover~span{
    left: 293px;
    width: 150px;
}
.mainNav a:nth-child(4):hover~span{
    left: 470px;
    width: 120px;
}

.contactMeBut{
    position: relative;
    border: 2px solid RGB(125, 18, 255);
    padding: 20px 20px;
    border-radius: 10px;
    display: inline-block;
    transition: 0.3s ease-in-out;
}

.contactMeBut a{
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
    transition: 0.3s ease-in-out;
}

.contactMeBut span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid RGB(125, 18, 255);
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: 0.5s;
}

.contactMeBut:hover span{
    transform: scale(1) translateY(0);
    opacity: 1;
}

.contactMeBut:hover{
    border: 2px solid transparent;
}

.heading{
    color: white;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 50px auto 200px;
}

.heading h1{
    font-size: 50px;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after{
    content: "";
    position: absolute;
    font-size: 50px;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background: RGB(125, 18, 255);
}

.heading p{
    font-size: 18px;
    margin-bottom: 35px;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.aboutImage{
    position: absolute;
    width: 900px;
    height: 550px;
    /* border: 2px solid; */
    /* z-index: -1; */
    left: 51%;
    margin-right: 40px;
    overflow: hidden;
}

/* .aboutImage img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
    border-radius: 10px;
    transition: 0.5s ease;
} */

.aboutImage:hover img{
    transform: scale(1.2);
}

.aboutContent{
    /* flex: 1; */
    position: relative;
    width: 750px;
    background: black;
    z-index: 1;
}

.aboutContent h2{
    font-size: 23px;
    margin-bottom: 15px;
}

.aboutContent p{
    font-size: 12px;
    line-height: 1.5;
}

.conBut {
  position: relative;
  border: 2px solid rgb(125, 18, 255);
  border-radius: 10px;
  padding: 10px 25px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.conBut a {
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.conBut span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: RGB(125, 18, 255);
  border-radius: 10px;
  z-index: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.4s ease-in-out;
  opacity: 0.3;
}

.conBut:hover span {
  transform: scaleX(1);
}

.conBut:hover {
  border-color: white;
}


.footer {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(120deg, black, rgb(125, 18, 255));
  padding: 30px 20px;
  text-align: center;
}

.footer h4 {
  margin-bottom: 20px;
  font-weight: bold;
  position: relative;
  bottom: 10px;
}

.footerContent {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Social Icons */
.socialLinksFooter a {
  color: white;
  margin: 0 10px;
  border: 2px solid white;
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
  transition: 0.4s ease-in-out;
}

.socialLinksFooter a:hover {
  color: black;
  background: rgb(125, 18, 255);
  border-color: rgb(125, 18, 255);
}

/* Contact Button */
.contactMeButFooter {
  position: relative;
  border: 2px solid rgb(125, 18, 255);
  border-radius: 10px;
  padding: 10px 25px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.contactMeButFooter a {
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.contactMeButFooter span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, black, rgb(125, 18, 255));
  border-radius: 10px;
  z-index: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.4s ease-in-out;
  opacity: 0.3;
}

.contactMeButFooter:hover span {
  transform: scaleX(1);
}

.contactMeButFooter:hover {
  border-color: white;
}

i {
    position: relative;
    bottom: 3px;
}

.hamburger {
    display: none;
}



@media screen and (max-width: 1024px) and (min-width: 769px) {
  .navigation h2{
    font-size: 18px;
  }
  
  .heading h1 {
    font-size: 42px;
  }

  .heading p {
    font-size: 16px;
  }

  .about {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
  }

  .aboutImage {
    display: none;
  }

  .aboutContent {
    width: 90%;
    max-width: 750px;
    text-align: center;
  }

  .aboutContent h2 {
    font-size: 22px;
  }

  .aboutContent p {
    font-size: 14px;
    line-height: 1.6;
  }

  .conBut {
    margin-top: 20px;
  }

  .conBut a {
    font-size: 15px;
  }

  .navigation {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }

  .mainNav{
        width: 510px;
    }
    
    .mainNav a{
        font-size: 13px;
        padding: 0 25px;
    }

    .mainNav span{
        left: 120px;
        width: 80px;
    }

    .mainNav a:nth-child(1):hover~span{
        left: 15px;
    }
    .mainNav a:nth-child(2):hover~span{
        left: 120px;
    }
    .mainNav a:nth-child(3):hover~span{
        left: 230px;
        width: 120px;
    }
    .mainNav a:nth-child(4):hover~span{
        left: 380px;
        width: 100px;
    }

  .contactMeBut {
    white-space: nowrap;
  }

  .contactMeBut a {
    white-space: nowrap;
  }

}


@media screen and (min-width: 2560px) {
  html {
    font-size: 20px;
  }

  .navigation {
    margin: 40px 80px;
  }

  .mainNav {
    width: 900px;
    height: 60px;
  }

  .mainNav a {
    font-size: 20px;
    padding: 0 30px;
  }

  .mainNav span {
    height: 60px;
    left: 255px;
    width: 125px;
  }

  .mainNav a:nth-child(1):hover ~ span {
    left: 105px;
  }

  .mainNav a:nth-child(2):hover ~ span {
    left: 255px;
    width: 125px;
  }

  .mainNav a:nth-child(3):hover ~ span {
    left: 410px;
    width: 190px;
  }

  .mainNav a:nth-child(4):hover ~ span {
    left: 640px;
    width: 140px;
  }

  .contactMeBut {
    padding: 24px 30px;
    font-size: 20px;
  }

  .heading {
    margin: 100px auto 250px;
  }

  .heading h1 {
    font-size: 80px;
  }

  .heading h1::after {
    height: 6px;
  }

  .heading p {
    font-size: 24px;
    margin-bottom: 40px;
    line-height: 2;
  }

  .container {
    width: 80%;
    padding: 30px 60px;
  }

  .about {
    padding: 40px 0;
  }

  .aboutImage {
    width: 2000px;
    height: 700px;
    left: 37%;
  }

  .aboutContent {
    width: 1000px;
  }

  .aboutContent h2 {
    font-size: 32px;
    margin-bottom: 25px;
  }

  .aboutContent p {
    font-size: 18px;
    line-height: 2;
  }

  .conBut {
    padding: 16px 36px;
    font-size: 18px;
  }

  .conBut a {
    font-size: 18px;
  }

  .footer {
    padding: 50px 40px;
  }

  .footer h4 {
    font-size: 24px;
  }

  .footerContent {
    gap: 40px;
  }

  .socialLinksFooter a {
    font-size: 22px;
    padding: 12px;
  }

  .contactMeButFooter {
    padding: 14px 32px;
  }

  .contactMeButFooter a {
    font-size: 18px;
  }
}



@media screen and (max-width: 768px) {
    .heading{
        padding: 0px 20px;
    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
        position: relative;
        right: 30px;
    }
    .aboutImage{
        /* margin-right: 0;
        margin-bottom: 20px; */
        display: none;
    }
    .aboutContent p{
        padding: 0px;
        font-size: 16px;
    }
    .aboutContent{
        width: 625px;
    }
    .conBut{
        margin-top: 20px;
    }
    .conBut a{
        font-size: 16px;
    }

      .navigation {
            flex-direction: column;
            gap: 15px;
        }

        .mainNav {
            width: 100%;
            flex-wrap: wrap;
            height: auto;
            padding: 10px 0;
        }

        .mainNav a {
            padding: 10px;
            font-size: 14px;
            padding: 0 35px;
        }

        .mainNav span {
            display: none; /* hide the animated hover bar on smaller screens */
        }

        .contactMeBut,
        .downloadRes {
            padding: 12px 15px;
            font-size: 14px;
            top: 0;
            right: 0;
        }

        .contactMeBut{
            top: 10px;
            display: none;
        }
}

@media screen and (max-width: 820px) {
  .navigation {
    flex-direction: column;
    gap: 15px;
  }

  .mainNav {
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    padding: 10px 0;
  }

  .mainNav a {
    padding: 10px;
    font-size: 14px;
    padding: 0 35px;
  }

  .mainNav span {
    display: none; /* hide the animated hover bar on smaller screens */
  }

  .contactMeBut{
    display: none;
  }
}


@media screen and (max-width: 480px) {
  html, body {
    font-size: 12px;
    overflow-x: hidden;
    line-height: 1.5;
  }

  .navigation {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 15px;
    position: relative;
    z-index: 10000;
  }

  .hamburger {
    display: block;
    font-size: 28px;
    color: white;
    cursor: pointer;
    z-index: 10001;
  }

  .mainNav {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
    background-color: rgba(15, 15, 15, 0.95);
    backdrop-filter: blur(10px);
    display: none;
    z-index: 9999;
  }

  .mainNav.active {
    display: flex;
  }

  .mainNav a {
    font-size: 14px;
    padding: 10px 0;
  }

  .mainNav span {
    display: none;
  }

  .contactMeBut {
    display: none;
  }

  .heading {
    padding: 0 10px;
    margin: 40px auto 100px;
  }

  .heading h1 {
    font-size: 28px;
  }

  .heading p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .container {
    width: 95%;
    padding: 0 10px;
  }

  .about {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    right: 0;
  }

  .aboutImage {
    display: none;
  }

  .aboutContent {
    width: 100%;
  }

  .aboutContent h2 {
    font-size: 18px;
  }

  .aboutContent p {
    font-size: 13px;
    line-height: 1.6;
  }

  .conBut {
    padding: 10px 20px;
    margin-top: 15px;
  }

  .conBut a {
    font-size: 14px;
  }

  .footer {
    padding: 20px;
  }

  .footer h4 {
    font-size: 16px;
    text-align: center;
  }

  .footerContent {
    flex-direction: column;
    gap: 20px;
  }

  .socialLinksFooter a {
    font-size: 16px;
    padding: 8px;
  }

  .contactMeButFooter {
    padding: 10px 20px;
  }

  .contactMeButFooter a {
    font-size: 14px;
  }
}
