body{
    background: #131316;
    color: white;
    padding: 0;
    margin: 0;
}

section{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0px);
    transform: translate(0%);
}

